@import "tailwindcss";

@layer utilities {
  @keyframes letterSpacing {
    0% {
      letter-spacing: 0;
      transform: scaleX(1);
    }
    40% {
      letter-spacing: -0.2em;
    }
    50% {
      letter-spacing: -0.3em;
      transform: scaleX(0.9);
    }
    80% {
      letter-spacing: 0.25em;
      transform: scaleX(1.1);
    }
    100% {
      letter-spacing: 0.1em;
      transform: scaleX(1);
    }
  }

  .animate-letter-spacing {
    animation: letterSpacing 0.7s ease-in-out forwards;
    animation-delay: 0.1s;
  }
}
